# Aula 06 - Tuplas, Dicionários e Sets
---

<img src="https://lc-public-assets.s3.sa-east-1.amazonaws.com/images/Logos/logoLcPng.webp" width="220px" style="position: absolute; top: 15px; right: 20px; border-radius: 5px;" />

## Revisando...

### Criando tuplas

In [4]:
tupla1 = (1, 2, 3)

In [5]:
tupla2 = 4, 5, 6

In [3]:
nome, idade = 'Walisson', 25

### Operações com Tuplas

In [6]:
tupla1 + tupla2

(1, 2, 3, 4, 5, 6)

In [7]:
tupla1 - tupla2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [8]:
tupla1 * tupla2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [9]:
tupla1 * 2

(1, 2, 3, 1, 2, 3)

In [13]:
tupla1 + (2,)

(1, 2, 3, 2)

### Métodos para Tuplas

#### `index`

In [15]:
tupla1

(1, 2, 3)

In [14]:
tupla1.index(2)

1

In [16]:
tupla1.index(10)

ValueError: tuple.index(x): x not in tuple

#### `count`

In [18]:
tupla = (1, 2, 3, 5, 3, 2, 2)

In [19]:
tupla.count(2)

3

In [20]:
tupla.count(10)

0

In [23]:
tupla.index(2, 2)

5

### Exercício

Como poderíamos criar um algoritmo para encontrar os índices de todos os elementos com o mesmo valor, que estão presentes na tupla.

In [25]:
for elemento in tupla:
    print(elemento)

1
2
3
5
3
2
2

In [24]:
[1, 5, 6]

[1, 5, 6]

#### `in`

In [26]:
lista = [1, 2, 3, 4, 5]

In [27]:
3 in lista

True

In [28]:
2 in tupla

True

In [29]:
10 in tupla

False

---

## Dicionários

Quando utilizamos um dicionário (o de papel, com definições), não temos o hábito de procurar pela palavra que está em uma determinada posição. Ao invés disso, nós buscamos pela palavra em si, e ao encontrá-la ela contém uma definição.

A estrutura **dicionário** em Python é uma coleção de dados. Porém, ela não é indexada. Ao adicionarmos elementos em um dicionário, sempre o fazemos aos pares: todo elemento terá uma **chave** e um **valor**. 

A chave será uma _string_ que utilizaremos como se fosse o índice. É como se fosse a palavra que buscamos em um dicionário de papel.

O valor pode ser qualquer dado: um **int**, um **float**, uma **str**, um **bool**, uma lista, uma tupla, outro dicionário... Ele é como se fosse a definição que encontramos vinculada à palavra que encontramos no dicionário de papel.

In [30]:
dicionario = {}

In [31]:
type(dicionario)

dict

In [32]:
dicionario = dict()

In [33]:
type(dicionario)

dict

In [34]:
int()

0

In [35]:
float()

0.0

In [36]:
str()

''

In [41]:
pessoa = {'nome': 'Walisson', 'idade': 25, 'email': 'email@email.com', 'altura': 1.77, 'notas': [9, 7, 10]}

In [43]:
pessoa

{'nome': 'Walisson',
 'idade': 25,
 'email': 'email@email.com',
 'altura': 1.77,
 'notas': [9, 7, 10]}

In [44]:
notas = {
    'Anderson': 10,
    'Beatriz': 10,
    'Bruna': 10,
    'Anderson': 7
}

In [46]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10}

### Acessando elementos em um dicionário

In [45]:
notas['Anderson']

7

In [47]:
notas['Rafael']

KeyError: 'Rafael'

### Adicionando elementos em um dicionário

In [49]:
notas['Brunna'] = 10

In [50]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

### Percorrendo um dicionário

In [51]:
lista

[1, 2, 3, 4, 5]

In [53]:
for elemento in lista:
    print(elemento)

1
2
3
4
5

1. Baseado nas chaves

In [56]:
for chave in notas:
    valor = notas[chave] # acessando o valor associado à chave
    
    print(chave, '→', valor)

Anderson → 7
Beatriz → 10
Bruna → 10
Brunna → 10

In [57]:
notas.keys()

dict_keys(['Anderson', 'Beatriz', 'Bruna', 'Brunna'])

In [59]:
for chave in notas.keys():
    print(chave, '→', notas[chave])

Anderson → 7
Beatriz → 10
Bruna → 10
Brunna → 10

2. Percorrendo os valores

In [60]:
notas.values()

dict_values([7, 10, 10, 10])

In [61]:
for valor in notas.values():
    print(valor)

7
10
10
10

3. Percorrendo pelos itens

In [62]:
notas.items()

dict_items([('Anderson', 7), ('Beatriz', 10), ('Bruna', 10), ('Brunna', 10)])

In [63]:
for item in notas.items():
    print(item)

('Anderson', 7)
('Beatriz', 10)
('Bruna', 10)
('Brunna', 10)

In [64]:
a, b = 10, 20

In [65]:
for chave, valor in notas.items():
    print(chave, valor)

Anderson 7
Beatriz 10
Bruna 10
Brunna 10

In [66]:
notas2 = {'fulano': 7, 'ciclano': 8}

### Zip

In [72]:
lista1 = [1, 3, 5]
lista2 = [2, 4, 6, 8, 10]

In [73]:
zip(lista1, lista2) # => [(1, 2), (3, 4), ...]

In [80]:
for elemento in zip(lista1, lista2):
    print(elemento)

(1, 2)
(3, 4)
(5, 6)

In [76]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

In [77]:
notas2

{'fulano': 7, 'ciclano': 8}

In [78]:
for chave in zip(notas.items(), notas2.items()):
    print(chave)

(('Anderson', 7), ('fulano', 7))
(('Beatriz', 10), ('ciclano', 8))

---

<h4 style="font-size: 24px; font-weight: 600">Para praticar</h4>

<div style="max-width: 400px; margin: 2rem 0; font-weight: 500">
 Obtenha uma lista que contenha os nomes dos alunos que possuem uma nota superior a 8. Tente também utilizando o <em>list comprehensions</em>.
</div>

![](https://media.tenor.com/images/56074b63a3b147fe7ac2ff71d3e9fc26/tenor.gif)

In [81]:
notas2 = {'fulano': 7, 'ciclano': 8, 'fulano2': 10, 'ciclano2': 9}

In [85]:
alunos_superior_a_8 = [] # lista de alunos com nota superior a 8 (vazia)

for aluno in notas2:
    nota = notas2[aluno]
    
    if nota > 8:
        alunos_superior_a_8.append(aluno) # adicionando o nome dos alunos que têm nota superior a 8
        
alunos_superior_a_8

['fulano2', 'ciclano2']

In [86]:
[n for n, nt in notas2.items() if nt > 8]

['fulano2', 'ciclano2']

In [ ]:
[nome for nome, nota in notas2.items()]

In [87]:
for chave in notas2:
    print(chave)

fulano
ciclano
fulano2
ciclano2

In [1]:
# Exemplo de utilização de um if ternário

idade = 10

print('Maior de idade') if idade >= 18 else print('Menor de idade')

Menor de idade

In [93]:
# Solução utilizando list comprehensions

[ nome for nome, nota in notas2.items() if nota > 8 ]

['fulano2', 'ciclano2']

---

### Testando a existência de uma chave (`in`)

In [96]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

In [97]:
'Beatriz' in notas

True

In [98]:
'Caio' in notas

False

### Métodos de dicionários

#### `copy`

Retorna uma cópia do dicionário.

In [99]:
notas3 = notas.copy()

In [100]:
notas3

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

#### `clear`

"Limpa" o dicionário, tornando um dicionário vazio.

In [101]:
notas3.clear()

In [102]:
notas3

{}

#### `fromkeys`

Método utilizado para criar um dicionário cujas chaves serão os elementos passados como parâmetro, que devem estar no formato de lista ou tupla. Além dessa tupla/lista, é possível passar um valor padrão para associar a cada chave do dicionário criado.

In [103]:
lista_de_alunos = ['Caio', 'Carlos', 'Felipe', 'Gabriel']

In [106]:
dict.fromkeys(lista_de_alunos, [])

{'Caio': [], 'Carlos': [], 'Felipe': [], 'Gabriel': []}

#### `get`

Método utilizado para obter o valor associado a uma chave do dicionário (passada como parâmetro). Se você tentar acessar uma chave que não existe no dicionário, esse método não irá retornar um erro.

In [107]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

In [108]:
notas['Beatriz']

10

In [109]:
notas.get('Beatriz')

10

In [113]:
notas.get('Patrícia', False)

False

#### `items`

Retorna uma lista com os items do dicionário, no formato de uma tupla, sendo a chave o primeiro elemento da tupla; e o valor, o segundo.

In [123]:
notas.items()

dict_items([('Anderson', 7), ('Beatriz', 10), ('Bruna', 10), ('Brunna', 10), ('Patrícia', None), ('Talita', 10)])

#### `keys`

Retorna uma lista com as chaves do dicionário.

In [124]:
notas.keys()

dict_keys(['Anderson', 'Beatriz', 'Bruna', 'Brunna', 'Patrícia', 'Talita'])

#### `pop`

Método para remover um item específico do dicionário. Para escolher o item, basta passar o nome da chave como parâmetro.

In [125]:
notas

{'Anderson': 7,
 'Beatriz': 10,
 'Bruna': 10,
 'Brunna': 10,
 'Patrícia': None,
 'Talita': 10}

In [126]:
notas.pop('Patrícia')

In [127]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10, 'Talita': 10}

#### `popitem`

Muito parecido com o método `pop`, porém, ao remover o item, esse item removido é retornado.

In [128]:
notas.popitem()

('Talita', 10)

In [129]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10}

#### `setdefault`

Esse método serve para obter um item da lista. Porém, caso o elemento solicitado (pela sua chave no primeiro parâmetro) não exista no dicionário, ele será adicionado com o valor que você especificar no segundo parâmetro.

In [119]:
notas.setdefault('Anderson', 10)

7

In [120]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10, 'Patrícia': None}

In [121]:
notas.setdefault('Talita', 10)

10

In [122]:
notas

{'Anderson': 7,
 'Beatriz': 10,
 'Bruna': 10,
 'Brunna': 10,
 'Patrícia': None,
 'Talita': 10}

#### `update`

Serve para acrescentar mais itens ao dicionário. Para isso, vocẽ deve passar um dicionário, como parâmetro, com os itens que você deseja adicionar.

In [131]:
notas['Patrícia'] = 10

In [132]:
notas

{'Anderson': 7, 'Beatriz': 10, 'Bruna': 10, 'Brunna': 10, 'Patrícia': 10}

In [133]:
notas.update({ 'Talita': 10, 'Gabriel': 10 })

In [134]:
notas

{'Anderson': 7,
 'Beatriz': 10,
 'Bruna': 10,
 'Brunna': 10,
 'Patrícia': 10,
 'Talita': 10,
 'Gabriel': 10}

#### `values`

Retorna uma lista com os valores de cada item do dicionário.

In [130]:
notas.values()

dict_values([7, 10, 10, 10])

## Sets

O `set` é uma coleção desordenada, não indexada e que não permite o armazenamento de dados repetidos.

> Referência: https://www.w3schools.com/python/python_sets.asp

### Criando `set`'s

In [135]:
conjunto = {10, 20, 30, 40, 50}

In [136]:
type(conjunto)

set

In [137]:
conjunto[0] # não consigo acessar um elemento específico pelo índice, porque o set não é indexado!

TypeError: 'set' object is not subscriptable

In [139]:
conjunto = {10, 20, 30, 10, 50}

In [140]:
conjunto

{10, 20, 30, 50}

In [141]:
nomes = {'Rafael', 'Anderson', 'Bruna'}

In [142]:
nomes

{'Anderson', 'Bruna', 'Rafael'}

### Acessando itens de um set

In [138]:
30 in conjunto

True

### Adicionando itens no set

#### `add`

In [143]:
nomes.add('Gabriel')

In [144]:
nomes

{'Anderson', 'Bruna', 'Gabriel', 'Rafael'}

#### `update`

In [145]:
nomes.update({'Caio', 'Talita'})

In [146]:
nomes

{'Anderson', 'Bruna', 'Caio', 'Gabriel', 'Rafael', 'Talita'}

### Removendo itens do set

#### `remove`

In [147]:
nomes.remove('Gabriel')

In [148]:
nomes

{'Anderson', 'Bruna', 'Caio', 'Rafael', 'Talita'}

#### `discard`

In [149]:
nomes.discard('Caio')

In [150]:
nomes

{'Anderson', 'Bruna', 'Rafael', 'Talita'}

#### ~`pop`~: **não recomendado**

### Unindo set's

#### `union`

### Outros métodos

#### `difference`

#### `intersection`

## Extras

- [Exercícios Adicionais](https://www.notion.so/walissonsilva/Exerc-cios-116a887ac5d14fca96949f32a7258b12)