## Exercícios

Enviar para o email filipe.furlan@letscode.com.br até **2021/07/30** o notebook (`matematica_firtsname_lastname_aula01.ipynb`) com a resolução dos exercicios abaixo.

1. Descreva as seguintes variáveis abaixo como  qualitativa nominal/ordinal ou quantitativa discreta/contínua:

    1. ocorrência de hipertensão pré-natal em grávidas com mais de 35 anos (sim ou não):
    ***Qualitativa Ordinal***

    1. intenção de voto para presidente (as possíveis escolhas são os `nomes` dos presidentes e "não sei"): 
    ***Qualitativa Nominal***

    1. Perda de peso de maratonistas na corrida de São Silvestre (em quilos):
    ***Quantitativa COntínua***

    1. intensidade da perda de peso de maratonistas na corrida de São Silvestre (leve, moderada, forte):
    ***Qualitativa Ordinal***

    1. Grau de satisfação da população brasileira com relação ao trabalho de seu presidente (valores de 0-5 , com zero indicando totalmente insatisfeito, e 5 totalmente satisfeito): 
    ***Quantitativa Discreta***

1. Calcule a media, variancia e desvio padrão dos alunos.

In [7]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Beltrano': [10, 2, 0.5, 1, 3, 9.5, 10],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]}, 
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df2.rename_axis('Matérias', axis = 'columns', inplace = True)
df2

Matérias    Fulano  Beltrano  Sicrano
Matemática       8      10.0      7.5
Português       10       2.0      8.0
Inglês           4       0.5      7.0
Geografia        8       1.0      8.0
História         6       3.0      8.0
Física          10       9.5      8.5
Química          8      10.0      7.0

In [27]:
print('Fulano sua média é:',round(df2['Fulano'].mean(),2),', a variância é:',round(np.var(df2['Fulano']),2),'e o desvio padrão é:',round(np.std(df2['Fulano']),2))
print('Beltrano sua média é:',round(df2['Beltrano'].mean(),2),', a variância é:',round(np.var(df2['Beltrano']),2),'e o desvio padrão é:',round(np.std(df2['Beltrano']),2))
print('Sicrano sua média é:',round(df2['Sicrano'].mean(),2),', a variância é:',round(np.var(df2['Sicrano']),2),'e o desvio padrão é:',round(np.std(df2['Sicrano']),2))
#Outra forma
df2.describe()

Fulano sua média é: 7.71 , a variância é: 3.92 e o desvio padrão é: 1.98
Beltrano sua média é: 5.14 , a variância é: 17.05 e o desvio padrão é: 4.13
Sicrano sua média é: 7.71 , a variância é: 0.28 e o desvio padrão é: 0.52

Matérias     Fulano   Beltrano   Sicrano
count      7.000000   7.000000  7.000000
mean       7.714286   5.142857  7.714286
std        2.138090   4.460141  0.566947
min        4.000000   0.500000  7.000000
25%        7.000000   1.500000  7.250000
50%        8.000000   3.000000  8.000000
75%        9.000000   9.750000  8.000000
max       10.000000  10.000000  8.500000