# Revisão

>

# Aula 03: Agregando e Sumarizando

Na aula de hoje iremos aplicar todos conceitos vistos até agora e aprender a sumarizar a agregar informações.

[Material](https://docs.google.com/presentation/d/1BQX-cfkF11uLLS1PMAwyX0Ga3p59Gksff8KSpZe8S94/edit#slide=id.ge43d54be65_0_128)

# Habilidades a serem desenvolvidas

Ao final da aula, o aluno deve:
1. Saber sumarizar informações;
1. Usar o COUNT, MIN, MAX, AVG e ROUND;
1. Entender como usar outras funções que não foram apresentadas;
1. Saber agregar informações com o GROUP BY;
1. Filtrar informações agregadas com o HAVING;

# SQL: Sumarizando

## COUNT
Quantas linhas temos na tabela order_details?

    SELECT COUNT(*) from order_details;

    SELECT COUNT(discount) from order_details;

## MIN
Qual o valor_unitário mais barato?

    SELECT MIN(unit_price) from order_details;

## MAX
Qual o valor_unitário mais caro?

    SELECT MAX(unit_price) from order_details;

## AVG
Qual a média dos valores unitários?

    SELECT AVG(unit_price) from order_details;

## ROUND

Qual a média dos valores unitários com duas casas decimais?

    SELECT ROUND(AVG(unit_price)::numeric, 2) from order_details;

## SUM

Qual a soma de todos os valores unitários?

    SELECT SUM(unit_price) from order_details;

Qual o valor total de todas as ordens sem desconto?

    SELECT  ROUND(SUM(unit_price * quantity)::numeric, 2) from order_details;

Qual o valor total de todas as ordens **com** desconto?

    SELECT  ROUND(SUM( (unit_price * quantity))::numeric, 2) preco_cheio,
            ROUND(SUM( (unit_price * quantity)*(1-discount))::numeric, 2) as preco_desconto 
    from order_details;

# SQL: Agregando

## GROUP BY
Permite agregar as sumarizações acima por grupos de dados!

Qual a soma dos valores unitários de cada ordem?

    SELECT order_id, SUM(unit_price) 
    from order_details
    GROUP by order_id
    ORDER By order_id;

    -- validação de dados e queries
    select sum(unit_price) from order_details
    where order_id = 10248;

    SELECT order_id, SUM(unit_price) 
    from order_details
    where order_id = 10248
    GROUP by order_id;

Quantas unidades de cada produto foram vendidas?

    SELECT product_id, SUM(quantity)
    FROM order_details
    GROUP BY product_id;

Ordene a lista acima!

    SELECT product_id, SUM(quantity)
    FROM order_details
    GROUP BY product_id
    ORDER BY product_id;

    -- equivalente
    SELECT product_id, SUM(quantity)
    FROM order_details
    GROUP BY product_id
    ORDER BY 1;

    -- ordene pela soma
    SELECT product_id, SUM(quantity)
    FROM order_details
    GROUP BY product_id
    ORDER BY SUM(quantity);

    SELECT product_id, SUM(quantity)
    FROM order_details
    GROUP BY product_id
    ORDER BY 2;

    SELECT product_id, SUM(quantity) as soma
    FROM order_details
    GROUP BY product_id
    ORDER BY soma;

## HAVING
Funcionamento similiar ao `WHERE`, mas aplicado à agreações o invés de colunas.

Selecione todas os id's de ordens que tenham valor total acima de 10_000.

    SELECT order_id, SUM(unit_price * quantity) as valor_total
    FROM order_details
    GROUP BY order_id
    HAVING SUM(unit_price * quantity) > 10000;

# Exercícios

Enviar para o email filipe.furlan@letcode.com.br até **2021/07/31** um arquivo de texto (`785_firstname_lastname_aula03.sql`) com a resolução dos exercicios abaixo.

IMPORTANTE: Inserir uma linha de comentário `-- exercicio XX` (XX = 1, 2A, 2B etc) antes de cada solução.

1. Da tabela territories:
    1. Quantos territórios temos ao todo?
    1. Quantos territórios por região?
1. Selecione da tabela empolyees:
    1. Quantos empregados reportam para cada chefe?
    1. Quantos empregados em cada cidade?
1. Selecione da tabela order_details:
    1. Quantas unidades forem vendidas por ordem?
    1. Qual o valor total de cada ordem?
    1. Qual o produto mais vendido?
    1. Selecione ordens que tenham menos de três produtos.
1. Selecione da tabels orders:
    1. Qual cliente realizou mais ordens?
    1. Qual cliente realizou menos ordens?
    1. Quantas ordems foram feitas por mês?
    1. Qual o tempo de envio por cliente?
    1. Faça uma lista ordenada dos países que receberam mais ordens.
    1. Qual o tempo máximo de envio por cidade?
    1. Quanto cada cliente gastou em frete?
    1. Qual o custo total de cada tipo de frete?
    1. Quanto cada cliente gastou em casa tipo de frete?
1. Selecione da tabela suppliers:
    1. Uma lista com os países que mais tem fornecedores.
1. Selecione da tabela products:
    1. Uma lista com o número de produtos por fornecedore.
    1. Oderne a lista acima em ordem decrescente.
    1. Uma lista com o número de produtos por fornecedors por categoria.
    1. Quantos produtos foram descontinuados.
    1. Fornecedores com estoque baixo (soma de unidades < 20).
    1. A média do valor total de cada categória.
    1. O valor do produto mais barato, mais caro e a média dos valores unitários por fornecedor e categoria.