In [21]:
import numpy as np
import pandas as pd

#### 1

In [2]:
df_avocado=pd.read_csv('../Datasets/avocado.csv')
tipos = pd.Series(np.random.randint(0, 2, df_avocado.shape[0]))
tipos = tipos.map({0: 'convencional', 1:'orgânico'})
df_type=pd.DataFrame(data=tipos,columns=['Tipo'])
df_full=pd.merge(df_avocado,df_type, on=df_avocado.index).drop('key_0', axis=1)
df_full.to_csv('../Datasets/avocado_full.csv',index=False)

#### 2
Enunciado
Carregue o arquivo csv que você salvou na questão anterior e, em seguida, obtenha o que é solicitado nos itens elencados abaixo:

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.

(b) A quantidade de registros (linhas) de abacates vendidos para cada região.

(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula.

(d) Uma vez que você já possui uma coluna com a data, remova a coluna que apresenta o ano.

In [4]:
df=pd.read_csv('../Datasets/avocado_full.csv')
print('letra a)\n',df.groupby('Tipo').agg({'Total Volume': np.sum}))
print('letra b)\n',pd.value_counts(df['region']))
df.rename(columns={'year': 'Year','region':'Region'},inplace=True)
df.drop('Year',axis=1,inplace=True)

letra a)
               Total Volume
Tipo
convencional  7.703967e+09
orgânico      7.819436e+09
letra b)
 Northeast              338
Tampa                  338
DallasFtWorth          338
Sacramento             338
Southeast              338
Philadelphia           338
SanDiego               338
RaleighGreensboro      338
SanFrancisco           338
Pittsburgh             338
CincinnatiDayton       338
Houston                338
SouthCarolina          338
Midsouth               338
NorthernNewEngland     338
Portland               338
LasVegas               338
HarrisburgScranton     338
Orlando                338
West                   338
NewOrleansMobile       338
RichmondNorfolk        338
California             338
GreatLakes             338
Boise                  338
Atlanta                338
Seattle                338
Indianapolis           338
Chicago                338
Nashville              338
BaltimoreWashington    338
LosAngeles             338
SouthCentral           338
TotalUS                338
Charlotte              338
Roanoke                338
Louisville             338
Denver                 338
Albany                 338
GrandRapids            338
Detroit                338
NewYork                338
StLouis                338
MiamiFtLauderdale      338
PhoenixTucson          338
Spokane                338
Boston                 338
Jacksonville           338
BuffaloRochester       338
Syracuse               338
Plains                 338
HartfordSpringfield    338
Columbus               338
WestTexNewMexico       335
Name: region, dtype: int64

#### 3
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.

(b) O preço médio dos abacates vendidos para cada tipo.

In [5]:
df=pd.read_csv('../Datasets/avocado_full.csv')
print('letra a)\n',df.groupby('Tipo').sum()['Total Volume'])
print('letra b)\n',df.groupby('Tipo').mean()['AveragePrice'])

letra a)
 Tipo
convencional    7.703967e+09
orgânico        7.819436e+09
Name: Total Volume, dtype: float64
letra b)
 Tipo
convencional    1.402556
orgânico        1.409346
Name: AveragePrice, dtype: float64

#### 4
O arquivo googleplaystore.csv é um dataset que contém diversas informações sobre aplicativos disponíveis para download na Google Play Store. Você deve utilizar esse dataset para fazer o mesmo que foi solicitado na questão anterior. Ou seja, carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF. Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10358 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10358 non-null  object
 1   Category        10358 non-null  object
 2   Rating          8893 non-null   float64
 3   Reviews         10358 non-null  object
 4   Size            10358 non-null  object
 5   Installs        10358 non-null  object
 6   Type            10358 non-null  object
 7   Price           10358 non-null  object
 8   Content Rating  10358 non-null  object
 9   Genres          10358 non-null  object
 10  Last Updated    10358 non-null  object
 11  Current Ver     10358 non-null  object
 12  Android Ver     10358 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [66]:
df=pd.read_csv('../Datasets/googleplaystore.csv')
print('Qtd Linhas Duplicadas\n',df.duplicated().sum())
df.drop_duplicates(inplace=True)
print('Qtd Linhas Duplicadas após tratamento\n',df.duplicated().sum())
print('Qtd Registros nulos em cada coluna\n',df.isnull().sum())

df['Type'].value_counts(normalize=True)
df['Type'] = df['Type'].fillna('Free')

df['Content Rating'].value_counts(normalize=True)
df['Content Rating'] = df['Content Rating'].fillna('Everyone')

df['Current Ver'].value_counts(normalize=True)
df['Current Ver'] = df['Current Ver'].fillna('Varies with device')


df['Android Ver'].value_counts(normalize=True)
df['Android Ver'] = df['Android Ver'].fillna('Varies with device')
#substitui o rating pela mediana
df['Rating'] = df['Rating'].fillna(df['Rating'].median())
print('Qtd Registros nulos após o tratamento\n',df.isnull().sum())

Qtd Linhas Duplicadas
 483
Qtd Linhas Duplicadas após tratamento
 0
Qtd Registros nulos em cada coluna
 App                  0
Category             0
Rating            1465
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64
Qtd Registros nulos após o tratamento
 App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

#### 5
O arquivo houses_to_rent.csv consiste em um dataset que contém dados sobre casas para alugar no Brasil. Carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF (você pode utilizar os métodos head, tail e info). Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [74]:
df=pd.read_csv('../Datasets/houses_to_rent.csv')
print(df.head(5))
print('Qtd Linhas Duplicadas\n',df.duplicated().sum())
df.drop_duplicates(inplace=True)
print('Qtd Linhas Duplicadas após tratamento\n',df.duplicated().sum())
print('Qtd Registros nulos em cada coluna\n',df.isnull().sum())
#Como não tem registros nulos, não fiz nenhum outro tratamento além da retirada dos nulos

           city  area  rooms  bathroom  parking spaces floor     animal  \
0     São Paulo    70      2         1               1     7      acept
1     São Paulo   320      4         4               0    20      acept
2  Porto Alegre    80      1         1               1     6      acept
3  Porto Alegre    51      2         1               0     2      acept
4     São Paulo    25      1         1               0     1  not acept

       furniture  hoa (R$)  rent amount (R$)  property tax (R$)  \
0      furnished      2065              3300                211
1  not furnished      1200              4960               1750
2  not furnished      1000              2800                  0
3  not furnished       270              1112                 22
4  not furnished         0               800                 25

   fire insurance (R$)  total (R$)
0                   42        5618
1                   63        7973
2                   41        3841
3                   17        1421
4                   11         836
Qtd Linhas Duplicadas
 358
Qtd Linhas Duplicadas após tratamento
 0
Qtd Registros nulos em cada coluna
 city                   0
area                   0
rooms                  0
bathroom               0
parking spaces         0
floor                  0
animal                 0
furniture              0
hoa (R$)               0
rent amount (R$)       0
property tax (R$)      0
fire insurance (R$)    0
total (R$)             0
dtype: int64

(10334, 13)