In [1]:
import pandas as pd
import numpy as np

#### 1

Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos

Fundamental completo	451

Médio completo	627

Superior completo	292

Pós-graduação completa	95

Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos

(b) Número inscritos que possuem, pelo menos, o superior completo.

(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.

(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [16]:
series1=pd.Series(data=[451,627,292,95],index=['Fundamental completo ','Médio completo','Superior completo','Pós-graduação completa'])

print('letra a)',series1.sum())

series2=series1[(series1.index=='Superior completo') | (series1.index=='Pós-graduação completa')]
print('letra b)',series2.sum())

series3=pd.Series(data=[68,93,22,0],index=['Fundamental completo ','Médio completo','Superior completo','Pós-graduação completa'])
print('letra c)\n',series3)

series4=series1.add(series_new,fill_value=0)
print('letra d)\n',series4)

letra a) 1465
letra b) 387
letra c)
 Fundamental completo      68
Médio completo            93
Superior completo         22
Pós-graduação completa     0
dtype: int64
letra d)
 Fundamental completo      519
Médio completo            720
Superior completo         314
Pós-graduação completa     95
dtype: int64

#### 2
Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota
Wilfred	2
Abbie	7
Harry	5.5
Julia	10
Carrie	6.2
(a) Crie uma Series com os valores da tabela acima.
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).
(c) Qual foi a nota média da turma.
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [30]:
series2=pd.Series(data=[2,7,5.5,10,6.2],index=['Wilfred','Abbie','Harry','Julia','Carrie'])
print(f'letra a)\n{series2}')
print('letra b) o número de alunos aprovados é:',len(series2[series2>=7]))
print('letra c) A média dos alunos é:',series2.mean())
print('letra d) Os Alunos que tiraram notas acima da média foram:',series2[series2>=series2.mean()].index.to_list())

letra a)
Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64
letra b) o número de alunos aprovados é: 2
letra c) A média dos alunos é: 6.14
letra d) Os Alunos que tiraram notas acima da média foram: ['Abbie', 'Julia', 'Carrie']

### 3
Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

In [56]:
#Cria o data frame
dl= {
    'Peso (kg)': [72, 80, 60,90,100],
    'Altura (cm)': [180, 170, 175,174,185],
    'Idade': [31,21,16,28,23]
}
df=pd.DataFrame(dl)
#letra a)
print('letra a)\n',df['Altura (cm)'])
print('letra b)',df['Idade'].mean())

print('letra c)\n',df[df['Altura (cm)'] < df['Altura (cm)'].mean()])
#letra d
df['IMC'] = round(df['Peso (kg)'] / (df['Altura (cm)'] / 100)**2,2)
#letra e
df.drop('Idade', axis=1, inplace=True)
#letra f
df.to_csv('../Datasets/lista_pd1_ex_3.csv',index=False)

letra a)
 0    180
1    170
2    175
3    174
4    185
Name: Altura (cm), dtype: int64
letra b) 23.8
letra c)
    Peso (kg)  Altura (cm)  Idade
1         80          170     21
2         60          175     16
3         90          174     28

#### 4

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [72]:
df=pd.read_csv('../Datasets/lista_pd1_ex_3.csv')
# letra a
df['Nome']=['João','Maria','José','Luiza','Caio']
# letra b
df.set_index(['Nome'], inplace=True)
# letra c
sobrepeso=df[(df['IMC']>=25) & (df['IMC']<=29.9)].index.to_list()
print(sobrepeso)

['Maria', 'Luiza', 'Caio']

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [78]:
df=pd.read_csv('../Datasets/lista_pd1_ex_3.csv')
def f(row):
    if row['IMC'] < 18.5:
        val = 'Magreza'
    elif row['IMC'] >= 18.5 and row['IMC']<25:
        val = 'Normal'
    elif row['IMC'] >= 25 and row['IMC']<30:
        val = 'Sobrepeso'
    elif row['IMC'] >= 30 and row['IMC']<40:
        val = 'Obesidade'
    else:
        val='Obesidade Grave'
    return val
df['Classificação'] = df.apply(f, axis=1)
df.to_excel('../Datasets/lista_pd1_ex_5.xlsx',index=False)