# Data Warehouse

## Tabelas externas

Para cada tabela, execute os passos abaixo trocando o nomes do arquivo/tabela onde necessário:

1. No terminal, execute:
    1. hdfs dfs -mkdir /user/hive/hr/**jobs**
    1. hdfs dfs -put Documents/hr_data/**jobs.csv** /user/hive/hr/**jobs**


2. No beeline:

    create external table **jobs( indice int, job_title string, salario_min float, salario_max float )**  
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile   
    location '/user/hive/hr/**jobs**';

## Tabelas internas

1. No terminal, execute (isso moverá todas as tabelas de uma vez):
    1. hdfs dfs -mkdir /user/hive/hr
    1. hdfs dfs -put Documents/hr_data/\* /user/hive/hr
    
    
2. No beeline (**note como tratar as tabelas com headers e com ',' no campo de texto - também funciona pra tabela interna**):

    create table jobs( indice int, job_title string, salario_min float, salario_max float )   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile ;  
    load data inpath '/user/hive/data_hr/jobs.csv' overwrite into table jobs;  

    create table employees( employee_id int, first_name string ,last_name string ,email string, phone_number  string, hire_date date,job_id int, salary float, manager_id int, department_id int)   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile   
    tblproperties ("skip.header.line.count"="1");  
    load data inpath '/user/hive/data_hr/employees.csv' overwrite into table employees;  

    create table countries( country_id string, country_name string,region_id string)   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile   
    tblproperties ("skip.header.line.count"="1");  
    load data inpath '/user/hive/data_hr/countries.csv' overwrite into table countries;  

    create table departments( department_id int, department_name string, location_id int)   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile   
    tblproperties ("skip.header.line.count"="1");  
    load data inpath '/user/hive/data_hr/departments.csv' overwrite into table departments;  

    create table dependents( dependent_id int ,first_name string, last_name string, relationship string, employee_id int)   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile   
    tblproperties ("skip.header.line.count"="1");  
    load data inpath '/user/hive/data_hr/dependents.csv' overwrite into table dependents;  

    create table locations( location_id int, street_name string, postal_code string, city string, country_id string)   
    ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'  
    WITH SERDEPROPERTIES (  
       "separatorChar" = ",",  
       "quoteChar"     = "\""  
    );    
    load data inpath '/user/hive/data_hr/locations.csv' overwrite into table locations;  

    create table regions( region_id int, region string)   
    row format delimited fields terminated by ',' lines terminated by '\n' stored as textfile;  
    load data inpath '/user/hive/data_hr/regions.csv' overwrite into table regions;